git+https://github.com/jinspalakkattu/pyrogram@master
git+https://github.com/hellysmile/fake-useragent/
cinemagoer
TgCrypto==1.2.2
marshmallow==3.12.2
python-decouple
aiohttp
aiofiles
telegraph
python-arq
pyromod
python-dotenv
uvloop
psutil
pykeyboard
jikanpy
pillow
bs4
imdbpy
img2pdf
ffmpeg-python
youtube_dl
feedparser
googletrans==4.0.0-rc1
gTTS
speedtest-cli
search_engine_parser
fuzzysearch
dnspython
requests

motor==2.4.0
pymongo[srv]==3.11.4
umongo==3.0.0
